@charset "UTF-8";
/* 1440 */
@media screen and (min-width:1440px){
section#content03{width:1440px;}
header{width: 1440px;}

/* 1200기준 */
section#content02{
    width:1200px;}
section#content04{
    width:1200px;}
section#content05{
    width:1200px;}
 div.down_footer>div.footer_info{
    width:1200px;}
}

/* 1399 - 1150 */
@media screen and (max-width:1439px) and (min-width:1200px){
section#content02{
    width:1200px;}
section#content04{
    width:1200px;}
section#content05{
    width:1200px;}
div.down_footer>div.footer_info{
    width:1200px;}    
}

@media screen and (max-width:1199px) and (min-width:980px){
#content02>div#test_pic>figure.pic03>img.pic03_1,img.pic03_2{
    width:49%;
}
}

/* tablet */
@media screen and (max-width:979px) and (min-width:580px){
/* header */
div#header{
    position:fixed;
    z-index: 999;
    top:0;
    justify-content: space-around;
}

ul.small_nav{
    position:absolute;
    top:auto; left:50%;
}

nav.navbar{
    display:flex;
    position: fixed;
    justify-content: center;
    width: 50vw; height: 100%;
    right:0; top:70px;
    background-color: rgba(199,167,134,0.6);
    z-index: 500;
}

nav.navbar>ul.navbar_menu{
    width:40vw;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    line-height: 4;
    position:absolute;
    padding-top:60px;
    box-sizing: border-box;
}

nav.navbar>ul.navbar_menu>div.navbar_logo{
    display:block;
    margin-bottom:20px;
}

nav.navbar>ul.navbar_menu>div.navbar_logo>img{
    margin:0 auto;
}

nav.navbar>ul>li{
    width:70%;
    border-bottom:2px solid rgba(172, 133, 92, 0.9);
    margin:0 auto;
    line-height: revert;
}

ul.navbar_menu>li>a{
    font-size: 1.5em;
    font-weight:bold;
    color: rgba(172, 133, 92, 0.9);
}

ul.navbar_menu>li>a:hover{
    border-bottom: 3px solid  rgb(230, 180, 126);
    }

nav.navbar>p.close_btn{
    display:block;
    position:absolute;
    top:5%; right:3%;
    cursor:pointer;
    padding:5px;
    box-sizing: border-box;
}

nav.navbar>p.close_btn:hover{
    background-color:rgba(51,51,51,0.4);
    border-radius: 50%;
}

div.nav_btn{
    display: flex;
    position:absolute;
    top:0; right:0;
    margin:20px;
    padding:5px;
    box-sizing: border-box;
    cursor:pointer;
}

div.nav_btn:hover{
    background-color:rgba(218,194,169,0.5);
    border-radius: 50%;
}

/* check */
section#content01{
    margin-top:70px;
}

section#content01>article{
    padding: 0;
}

#content01>div#left{
    display:flex;
    z-index: 400;
    position:absolute;
    width:30px;
    background-color: rgb(250, 249, 245);
}

#content01>div#left>p{
    transform:rotate(0deg);
    margin-top:-50px;
    padding:0 5px;
    line-height: 27px;
}

p.prev,p.next{
    display:none;
}

/* #content02 */
section#content02>div#test_pic{
/* text-align: center; */
width: 100%;
}

section#content02 img{
    height: 300px;
    width: 100%;
}

section#content02>div#test_pic>figure.pic01{
    width:45%;
    position: relative;
    margin-bottom:30px;
}

section#content02>div#test_pic>figure.pic02{
    width:45%;
    margin-bottom:30px;
}

section#content02>div#test_pic>figure.pic03{
    width:100%;
    margin-bottom:0;
    text-align: center;
}

section#content02>div#test_pic>figure.pic03 img{
    width:32%;
}

#content02>div#test_pic>figure.pic03>img.pic03_1,img.pic03_2{
    margin-bottom:0;
 }

/* #content03 */
#content03>ul.we_illom>li{
    width:45%;
    justify-content: space-between;
    margin-bottom:30px;
    padding:0 30px;
    box-sizing: border-box;
}

#content03>ul.illomlife li figure{
    display:flex;
    flex-wrap: wrap;
}

#content03>ul.illomlife li figure p{
    text-align: center;
}

#content03>ul.illomlife li figure>figcaption{
    width:450px;
    margin:0 auto;
}

#content03>ul.illomlife li figure figcaption figure figcaption dl{
    line-height: 30px;
    margin: 10px 0 0 10px;
}

#content03>ul.illomlife li figure figcaption figure figcaption dl dt{
    font-size: 20px;
}

#content03>ul.illomlife li figure figcaption figure figcaption dl dd:last-child{
    font-weight: bold;
}

/* #content04 */
#content04>div.video_img{
    width: 100vw; /* 980px; */
    display:block;
}

#content04>div.video_img>p{
    width:90vw;
    margin:0 auto 50px;
}

section#content04>div.video_desc>p{
    margin:0 auto 40px;
    font-size: 18px;
}

div.video_desc>p>img{
    width: 100vw; /* 980px; */
}

#content04>div.video_img>div{
    width:100vw;
    padding: 0 50px;
    margin:0 auto;
    border:none;
    box-sizing: border-box;
}

#content04>div.video_img ul{
    display: flex;
    margin:0 auto;
}

#content04>div.video_img ul li{
  width: 33%;
}

#content04>div.video_img ul>li:nth-child(2){
    margin:0 10px;
}

/* 여기 질문 */
#content04>div.video_img>div>p{
width: 30px;
height: 30px;
left:93%;
top:50px;
}

#content04>div.video_img>div>p.left_btn{
    display:flex;
    left:10px;
    align-items: center;
    justify-content: center;
}

#content04>div.video_img>div>p.right_btn{
    display:flex;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}

#content04>div.video_img>div>p.up_btn,
#content04>div.video_img>div>p.down_btn{
    display:none;
}

/* content05 */
ul.illom_news li figure figcaption dl{
    padding:10px 0;
}

ul.illom_news li figure figcaption dl>dt{
    font-size: 1em;
    height: 70px;
    line-height: 20px;
}

/* footer */
footer>div.down_footer{
    padding: 10px 0;
    box-sizing: border-box;
    }

div.down_footer>div.footer_info{
    width:560px;
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: left;
}

div.footer_info dl{
    width:100%;
    font-size: 1em;
    height: 4vh;
}

div.footer_info>dl dt{
    width: 200px;
    margin-right:30px;
}

div.footer_info dl dd{
    width: 360px;
    margin-right:0;
}

div.down_footer>div.sns_icon{
    display:block;
}

div.down_footer>div.sns_icon ul{
    width:300px;
    margin:20px auto;
    text-align:center;
}
    
    div.sns_icon ul li:last-child{
        margin-right: 0;
    }
}

/* mobile */
@media screen and (max-width:579px) and (min-width:350px){
/* header */
div#header{
    position:fixed;
    z-index: 999;
    top:0;
    justify-content: space-around;
}
    
ul.small_nav{
    position:absolute;
    top:auto; left:45%;
}
    
div.nav_btn{
    display: flex;
    position:absolute;
    top:0; right:0;
    margin:20px;
    padding:5px;
    box-sizing: border-box;
    cursor:pointer;
}
    
nav.navbar{
    display:flex;
    position: fixed;
    justify-content: center;
    width: 100%; height: 100%;
    right:0; top:70px;
    background-color: rgba(199,167,134,0.6);
    z-index: 500;
    font-size: 20px;
}
    
nav.navbar>ul.navbar_menu{
    width:80vw;
    height: 100vh;
    padding-top:80px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}
    
nav.navbar>ul.navbar_menu>div.navbar_logo{
    display:flex;
    margin-bottom:30px;
}

nav.navbar>ul.navbar_menu>div.navbar_logo>img{
    margin:0 auto;
}
    
nav.navbar>ul>li{
    width:70%;
    border-bottom:2px solid rgba(172, 133, 92, 0.9);
    margin:0 auto;
    line-height: 4;
} 

ul.navbar_menu>li>a{
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(172, 133, 92, 0.9);
}

section#content01>article{
    padding:0;
}

#content01>div#left{
    display:flex;
    z-index: 400;
    /* position:fixed; */
    width:30px;
    padding-top:50px;
    box-sizing: border-box;
    background-color: rgb(250, 249, 245);
}

#content01>div#left>p{
    transform:rotate(0deg);
    margin-top:-50px;
    padding:0 5px;
    line-height: 27px;
}

div.gall>ul>li>dl{
    padding-top:150px;
}

div.gall>ul>li>dl>dt{
    font-size:1.5em;
}

div.gall>ul>li>dl>dd{
    font-size:1em;
}

#content02>dl>dd{
    line-height: 30px;
}

/* section#content02 */
#content02>dl{
    margin-bottom:60px;
}

#content02>dl>dt{
    font-size: 1.2em;
}

#content02>dl>dd{
    font-size: 14px;
}

/* #content02>div#test_pic */
#content02>div#test_pic{
    width: 100%; /* 1200px*/
    margin:0 auto;
}

#content02>div#test_pic>figure.pic01,
#content02>div#test_pic>figure.pic02,
#content02>div#test_pic>figure.pic03{
    width:100vw;
    position:static;
}

#content02>div#test_pic figure img{
    width:100%;
    height: 50vh;
}

#content02>div#test_pic>figure.pic03>img.pic03_1,
#content02>div#test_pic>figure.pic03>img.pic03_2{
   width:45%;
   padding:0 10px;
}

#content02>div#test_pic figcaption{
    margin-bottom:50px;
}

#content02 figure>figcaption>p{
    margin-bottom:15px;
}

#content02 figure>figcaption> p:last-child{
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(172, 133, 92, 0.9);
}

/* #content02>div.test_btn */
#content02>div.test_btn{
width:100%;
display:flex;
justify-content: center;
margin:0 auto;
padding:20px 0;
box-sizing: border-box;
}

#content02>div.test_btn>p>button{
width: 70px; height: 50px;
border-radius: 100%;
border-color: rgba(172, 133, 92);
color: rgba(172, 133, 92);
cursor: pointer;
}


/* #content03>ul.we_illom */
#content03>ul.we_illom>li{
width:100%;
margin: 0;
}

#content03>ul.we_illom>li>figure>p{
    margin-top:30px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

#content03>ul.we_illom>li>figure>figcaption{
    width: 90vw;
    margin:50px auto 100px;
}

ul.we_illom>li>figure>img:first-child{
    width: 100vw;
}

ul.we_illom>li>figure>img:nth-child(2){
    width: 40vw;
    margin:20px 50px;
}

ul.we_illom>li>figure>figcaption>img{
    width:40%;
}

ul.we_illom>li>figure>figcaption>dl{
    width: 60%;
    margin:0 auto;
    font-size: 20px;
    line-height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
}

ul.we_illom>li>figure>figcaption>dl>dd{
    line-height:50px;
}

/* content04 */
    #content04>div.video_img{
    display:block; 
    }
    
    #content04>div.video_img>p{
        width:100vw;
    }
    #content04>div.video_img>div{
        width:100%;
        padding:20px 0;
        box-sizing: border-box;
        border:none;
    }
    
    #content04>div.video_img ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    #content04>div.video_img ul>li{
       width: 30%;
    }
    
    #content04>div.video_img ul>li:last-of-type{
        margin-bottom:0px;
    }

    #content04>div.video_img>div>p{
        position:absolute;
        background-color:#ac855c;
        text-align: center;
        line-height:0;
        font-size: 20px;
        color:#fff;
        cursor: pointer;
        width: 15px; height: 20px;
    }
    
    #content04>div.video_img>div>p.down_btn,
    #content04>div.video_img>div>p.up_btn{
        display:none;
    }
    
    #content04>div.video_img>div>p.left_btn{
        display: block;
        left:0; top:35%;

    }

    #content04>div.video_img>div>p.right_btn{
        display: block;
        left:97vw; top:35%;

    }
    
    /* #content04 div.video_desc */
    #content04 div.video_desc{
        margin-top:20px;
        font-size:1em;
}

/* content05 */
#content05>ul.illom_news{
    display:block;
}
#content05 ul.illom_news li{
    width:100%;
}

#content05 ul.illom_news li figure img{
    width: 100vw;
}

ul.illom_news li figure figcaption{
    margin-bottom:100px;
}

ul.illom_news li figure figcaption dl{
    margin-bottom: 100px;
    width: 90%;
    margin:0 auto;
}

ul.illom_news li figure figcaption dl>dt{
    padding:15px 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom:3px solid rgb(172, 133, 92);
}

ul.illom_news li figure figcaption dl>dd{
    padding:10px 0;
    box-sizing: border-box;
    line-height: 27px;
}




/* footer */
div.up_footer>ul>li{
    padding:0 10px;
    font-size: 12px;
    box-sizing: border-box;
}
        
footer>div.down_footer{
    margin:0 auto;
    width:100%;
    padding:10px 0;
    box-sizing: border-box;
}
        
div.down_footer>div.footer_info{
    width: 90%;
    display: block;
    margin:0 auto;
}
        
div.footer_info dl{
    width:100%;
    height: 4vh;
    font-size: 12px;
}
        
div.footer_info>dl dt{
    width:35vw;
    margin-right:10px;
}
        
div.footer_info dl dd{
    width: 50vw;
    margin-right:0;
}
        
div.down_footer>div.sns_icon{
    display:block;
}
        
div.down_footer>div.sns_icon ul{
    width:300px;
    margin:20px auto;
    text-align:center;
}
            
div.sns_icon ul li:last-child{
    margin-right: 0;
}
        
footer>small{
    width: 80%;
    margin:0 auto;
    line-height:1.5;
    font-size:14px;
}
}