@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Ms+Madi&family=Orelega+One&family=Staatliches&display=swap');

img{max-width:100%;}
button{cursor: pointer;}

div#wrap{
    background-color: rgba(250, 249, 245, 1);
    width: 100%;
}

/* div#header */
div#header{
    width:100%;
    height: 70px;
    background-color:rgba(172, 133, 92, 0.9);
    box-sizing: border-box;
    padding:15px 0;
}

header{
    width:98% /* 1440px */;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1{
    color:#fff;
    font-size: 25px;
    font-family: 'La Belle Aurore', cursive;
}

/* ul.small_nav */
ul.small_nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
    
ul.small_nav>li{
display:inline-block;}
    
ul.small_nav>li>a{
color:#fff;
display:block;
padding:0 20px;
}

ul.small_nav>li>a:hover{
    cursor: pointer;}

ul.small_nav>li:first-child>a{
    border-right: 1px solid #fff;}

/* none */
div.nav_btn{display:none;}
nav{display:none;}
p.close_btn{display:none;}

/* section#content01 */
div#container{
    width:98%;
    position:relative;
    margin:0 auto;
    position:relative;
}

section#main{
    margin:100px;}

section#main>img{
    width: 100%;}

p.main_text{
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    margin: 40px 0;
}

p.main_btn{
    text-align: center;}

p.main_btn>button{
    background-color:#AC855C;
    color:#fff;
    border-style: none;
    padding:20px;
    box-sizing: border-box;
    height: 60px;
    font-size: 18px;
}

section#main>p.main_btn>button:hover{
    background-color:rgb(126, 102, 75);}

h2{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    margin-bottom:30px;
}

#qna{
    display: none;
    margin:5px;
    padding:20px 0;
}

.qBox{
    text-align: center;
    color:#AC855C;
    font-size: 30px;
    font-weight: bold;
    padding:40px 0;
    box-sizing: border-box;
}

.answerList{
    width:60%;
    background-color:lightgray;
    border:1px solid transparent;
    border-radius: 100px;
    margin:20px auto;
    cursor:pointer;
    padding:30px 0;
    line-height:30px;
    font-size: 16px;
    display: block;
}

.answerList:hover{
    background-color: rgb(255,248,122);}

.status{
    width: 80%;
    height: 20px;
    margin:30px auto;
    border-radius: 20px;
    border:3px solid #f3e2c7;
}

.statusBar{
    height: 100%;
    border-radius: 20px;
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}

#result{
    display: none;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}

@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}

.fadeIn{
    animation: fadeIn;
    animation-duration: 0.5s;
}
.fadeOut{
    animation: fadeOut;
    animation-duration: 1s;
}

/* footer */
footer{
    width: 100%;
    padding:0 0 20px;
    box-sizing: border-box;
    color:#fff;
    background-color: rgba(172, 133, 92, 1);
}

/* div.up_footer */
footer>div.up_footer{
padding:20px 0;
box-sizing: border-box;
}

div.up_footer>ul{
    text-align:center;}

div.up_footer>ul>li{
    cursor: pointer;
    display: inline-block;
    padding:10px 25px;
    box-sizing: border-box;
    border-right: 2px solid #fff;
}

div.up_footer>ul>li:last-child{
    border:none;}

/* footer>div.down_footer */
footer>div.down_footer{
position:relative;
padding:30px 0;
box-sizing: border-box;
border-top:1px solid #fff;
}

div.down_footer>div.footer_info{
    width:/* 1200px */98%;
    display: flex;
    flex-wrap: wrap;
    padding:10px 0;
    box-sizing: border-box;
    margin:0 auto;
}

div.footer_info dl{
    display: flex;
    width:50%; height:25px;
    font-size: 0.9em;
    align-items: center;
}

div.footer_info>dl>dt{
    width:35vw;
    margin-right:10px;
}

div.footer_info dl>dd{
    width:65vw;
    margin-right:50px;
}

div.down_footer>div.sns_icon{
    width:60%; /* 920px; */
    margin: 0 auto;
}

div.down_footer>div.sns_icon ul{
text-align:right;
margin-top:-30px;
}

div.sns_icon ul li{
    cursor: pointer;
    display:inline-block;
    margin: 0 10px;
}

div.sns_icon ul li:last-child{
    margin-right: 0;}

footer>small{
    position:relative;
    margin: 0 auto;
    display: block;
    text-align: center;
}