@charset "UTF-8";

div#wrap{
    background-color: rgba(250, 249, 245, 1);
}

/* div#header */
div#header{
    width:100%;
    height: 70px;
    background-color:rgba(172, 133, 92, 0.9);
    box-sizing: border-box;
    padding:15px 230px;
}

header{
    width:100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

/* ul.small_nav */
ul.small_nav{
width:180px;
box-sizing: border-box;
display:flex;
justify-content: space-between;
}

ul.small_nav>li{
    width:80px;
    padding:0 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

ul.small_nav>li>a{
    color:#fff;
}

ul.small_nav>li:first-child{
    border-right: 1px solid #fff;
}

/* section#content01 */
section#content01{
    position:relative;
}

section#content01>h2{
    position:absolute;
    top:0; left:0;
    width:100%;
    margin-top:200px;
    font-size:4em;
    font-weight: bold;
    text-align: center;
    color:#fff;
}

/* section#content02 */
section#content02{
    width:1400px;
    margin:0 auto;
    position:relative;
    padding:60px 0;
}

section#content02>div.info_title{
    width:100%;
    padding:28px 0;
    border-top: 1px solid #333; 
    border-bottom: 1px solid #333; 
}

section#content02>div.info_title>p{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

section#content02>div.info_content{
    width:1000px;
    margin:0 auto;
    padding: 50px 0;
}

section#content02>div.info_content>div.right{
    width:100%; height: 40px;
    text-align: right;
}

div.right>span{
font-weight: bold;
}

div.info_content>p{
    line-height: 5;
    width:100%; height: 700px;
    box-sizing: border-box;
    text-align: center;
}


/* footer */
footer{
box-sizing: border-box;
width: 100%; height: 220px;
color:#fff;
background-color: rgba(172, 133, 92, 1);
}

/* div.up_footer */
footer>div.up_footer{
width:600px;
padding:14px 0;
margin: 0 auto;
}

div.up_footer>ul{
    display: flex;
}

div.up_footer>ul>li{
    justify-content: space-evenly;
    padding:0 25px;
    border-right: 2px solid #fff;
}

div.up_footer>ul>li:last-child{
    border:none;
}

/* footer>div.down_footer */
footer>div.down_footer{
position:relative;
width:1400px; height: 154px;
padding:30px 0;
margin:0 auto;
box-sizing: border-box;
border-top:1px solid #fff;
}

div.down_footer>div.footer_info{
    width:1200px;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    left:0; top:0;
    padding:10px 0;
    margin:0 auto;
}

div.footer_info dl{
    display: flex;
    width:50%; height:25px;
    font-size: 0.9em;
    align-items: center;
}

div.footer_info>dl>dt{
    width:350px;
    margin-right:10px;
}

div.footer_info dl>dd{
    width:200px;
    margin-right:50px;
}

div.footer_info dl>dd:last-child{
    width:500px;
}

div.down_footer>div.sns_icon{
    width:150px;
    position:absolute;
    right:0; top:50%;
}

div.down_footer>div.sns_icon ul{
    display:flex;
    flex-direction: row;
}

div.sns_icon ul li{
    margin-right:10px;
}

div.sns_icon ul li:last-child{
    margin-right: 0;
}

footer>small{
    position:relative;
    margin: 0 auto;
    display: block;
    text-align: center;
}